__pycache__/
*.pyc
.venv/
dados/brutos/maratonas/
dados/processados/*.csv
dados/processados/apoio/*
!dados/processados/apoio/horarios_largada.csv
!dados/processados/apoio/agregados_horarios.csv
codigo/cap4/figuras/
